body {background-image: url(images/background.png); background-color: azure;}

div {border: 1px solid black; padding: 10px; margin-bottom: 10px; border-radius: 10px;}

#wrapper {
    width: 1000px;
    margin:auto;
    box-shadow:3px 3px 8px black;
    border-radius: 10px; /*rounds corners of block level elements*/
}

h1 {color: white; text-align: center;}

#header {background-color: cadetblue; height: 100px; padding: 10px; border: 3px solid black;}

#nav {width: 780px; height: 50px; background-color: peru; border:3px solid black;}

#buttons {margin: auto; width: 315px; height: 50px; border: 3px solid grey;}

.btn {
    display: block;
    float: left;
    width: 100px;
    height: 50px;
    margin-right: 2px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    background-color: mediumturquoise;
    font-weight: bold;
    color: black;
}

.btn:active {background-color: black;}

.btn:visited {color: midnightblue;}

#clear {clear: both; border: none;}

#footer {width: 760px; height: 40px; text-align: center; font-size: 10px;}

#left {width: 45%; float: left;}

#right {width: 45%; float: right;}